/* glue: 0.9.4 hash: 103ca81d72 */
        .flag-icon-zimbabwe,
.flag-icon-wales,
.flag-icon-vanuatu,
.flag-icon-uzbekistan,
.flag-icon-united-states,
.flag-icon-united-states-of-america,
.flag-icon-united-kingdom,
.flag-icon-united-arab-emirates,
.flag-icon-tuvalu,
.flag-icon-trinidad-and-tobago,
.flag-icon-tonga,
.flag-icon-togo,
.flag-icon-timor-leste,
.flag-icon-tajikistan,
.flag-icon-sweden,
.flag-icon-sudan,
.flag-icon-sri-lanka,
.flag-icon-solomon-islands,
.flag-icon-slovenia,
.flag-icon-seychelles,
.flag-icon-scotland,
.flag-icon-sao-tome-and-principe,
.flag-icon-samoa,
.flag-icon-saint-lucia,
.flag-icon-qatar,
.flag-icon-poland,
.flag-icon-philippines,
.flag-icon-paraguay,
.flag-icon-palau,
.flag-icon-oman,
.flag-icon-north-korea,
.flag-icon-nigeria,
.flag-icon-nicaragua,
.flag-icon-new-zealand,
.flag-icon-nepal,
.flag-icon-nauru,
.flag-icon-myanmar,
.flag-icon-montenegro,
.flag-icon-mongolia,
.flag-icon-moldova,
.flag-icon-micronesia,
.flag-icon-mexico,
.flag-icon-marshall-islands,
.flag-icon-malaysia,
.flag-icon-macedonia,
.flag-icon-luxembourg,
.flag-icon-lithuania,
.flag-icon-liechtenstein,
.flag-icon-libya,
.flag-icon-liberia,
.flag-icon-latvia,
.flag-icon-kyrgyzstan,
.flag-icon-kuwait,
.flag-icon-korea-north,
.flag-icon-kiribati,
.flag-icon-kazakhstan,
.flag-icon-jordan,
.flag-icon-jamaica,
.flag-icon-ireland,
.flag-icon-iran,
.flag-icon-honduras,
.flag-icon-haiti,
.flag-icon-guyana,
.flag-icon-guinea-bissau,
.flag-icon-guatemala,
.flag-icon-grenada,
.flag-icon-germany,
.flag-icon-finland,
.flag-icon-fiji,
.flag-icon-ethiopia,
.flag-icon-estonia,
.flag-icon-eritrea,
.flag-icon-england,
.flag-icon-el-salvador,
.flag-icon-ecuador,
.flag-icon-dominican-republic,
.flag-icon-dominica,
.flag-icon-cyprus,
.flag-icon-cuba,
.flag-icon-croatia,
.flag-icon-costa-rica,
.flag-icon-comoros,
.flag-icon-cape-verde,
.flag-icon-canada,
.flag-icon-burundi,
.flag-icon-bulgaria,
.flag-icon-brunei,
.flag-icon-brunei-darussalam,
.flag-icon-bosnia-and-herzegovina,
.flag-icon-belarus,
.flag-icon-bangladesh,
.flag-icon-bahrain,
.flag-icon-bahamas,
.flag-icon-azerbaijan,
.flag-icon-australia,
.flag-icon-american-samoa,
.flag-icon-zambia,
.flag-icon-yemen,
.flag-icon-vietnam,
.flag-icon-venezuela,
.flag-icon-uruguay,
.flag-icon-ukraine,
.flag-icon-uganda,
.flag-icon-turkmenistan,
.flag-icon-turkey,
.flag-icon-tunisia,
.flag-icon-thailand,
.flag-icon-tanzania,
.flag-icon-taiwan,
.flag-icon-syria,
.flag-icon-switzerland,
.flag-icon-swaziland,
.flag-icon-suriname,
.flag-icon-spain,
.flag-icon-south-korea,
.flag-icon-south-africa,
.flag-icon-somalia,
.flag-icon-slovakia,
.flag-icon-singapore,
.flag-icon-sierra-leone,
.flag-icon-serbia,
.flag-icon-senegal,
.flag-icon-saudi-arabia,
.flag-icon-saint-vincent-and-the-grenadines,
.flag-icon-saint-kitts-and-nevis,
.flag-icon-rwanda,
.flag-icon-russia,
.flag-icon-romania,
.flag-icon-republic-of-the-congo,
.flag-icon-puerto-rico,
.flag-icon-portugal,
.flag-icon-peru,
.flag-icon-panama,
.flag-icon-pakistan,
.flag-icon-netherlands,
.flag-icon-namibia,
.flag-icon-mozambique,
.flag-icon-morocco,
.flag-icon-mauritius,
.flag-icon-mauritania,
.flag-icon-malta,
.flag-icon-mali,
.flag-icon-maldives,
.flag-icon-malawi,
.flag-icon-madagascar,
.flag-icon-macau,
.flag-icon-lesotho,
.flag-icon-lebanon,
.flag-icon-laos,
.flag-icon-korea-south,
.flag-icon-kenya,
.flag-icon-japan,
.flag-icon-italy,
.flag-icon-iraq,
.flag-icon-indonesia,
.flag-icon-india,
.flag-icon-hungary,
.flag-icon-hong-kong,
.flag-icon-guinea,
.flag-icon-greece,
.flag-icon-ghana,
.flag-icon-georgia,
.flag-icon-gambia,
.flag-icon-france,
.flag-icon-european-union,
.flag-icon-equatorial-guinea,
.flag-icon-egypt,
.flag-icon-djibouti,
.flag-icon-czech-republic,
.flag-icon-cote-d-ivoire,
.flag-icon-congo-brazzaville,
.flag-icon-colombia,
.flag-icon-china,
.flag-icon-chile,
.flag-icon-chad,
.flag-icon-central-african-republic,
.flag-icon-cameroon,
.flag-icon-cambodia,
.flag-icon-burkina-faso,
.flag-icon-botswana,
.flag-icon-bhutan,
.flag-icon-benin,
.flag-icon-belize,
.flag-icon-belgium,
.flag-icon-armenia,
.flag-icon-argentina,
.flag-icon-antigua-and-barbuda,
.flag-icon-afghanistan,
.flag-icon-brazil,
.flag-icon-bolivia,
.flag-icon-barbados,
.flag-icon-austria,
.flag-icon-angola,
.flag-icon-andorra,
.flag-icon-algeria,
.flag-icon-albania,
.flag-icon-republic-of-kosovo,
.flag-icon-norway,
.flag-icon-israel,
.flag-icon-iceland,
.flag-icon-san-marino,
.flag-icon-monaco,
.flag-icon-gabon,
.flag-icon-faroe-islands,
.flag-icon-democratic-republic-of-the-congo,
.flag-icon-congo-kinshasa,
.flag-icon-papua-new-guinea,
.flag-icon-denmark,
.flag-icon-niger,
.flag-icon-vatican-city {
            background-image: url('flag-icon.png');
            background-repeat: no-repeat;
        }
        
        .flag-icon-zimbabwe {
            background-position: -5px -5px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-wales {
            background-position: -5px -26px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-vanuatu {
            background-position: -37px -5px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-uzbekistan {
            background-position: -5px -48px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-united-states {
            background-position: -69px -5px;
            width: 22px;
            height: 12px;
        }
        
        .flag-icon-united-states-of-america {
            background-position: -69px -27px;
            width: 22px;
            height: 12px;
        }
        
        .flag-icon-united-kingdom {
            background-position: -69px -48px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-united-arab-emirates {
            background-position: -37px -48px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-tuvalu {
            background-position: -5px -69px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-trinidad-and-tobago {
            background-position: -101px -5px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-tonga {
            background-position: -101px -28px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-togo {
            background-position: -101px -49px;
            width: 22px;
            height: 14px;
        }
        
        .flag-icon-timor-leste {
            background-position: -37px -69px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-tajikistan {
            background-position: -69px -69px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-sweden {
            background-position: -5px -90px;
            width: 22px;
            height: 14px;
        }
        
        .flag-icon-sudan {
            background-position: -37px -90px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-sri-lanka {
            background-position: -69px -90px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-solomon-islands {
            background-position: -101px -90px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-slovenia {
            background-position: -133px -5px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-seychelles {
            background-position: -133px -26px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-scotland {
            background-position: -133px -47px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-sao-tome-and-principe {
            background-position: -133px -70px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-samoa {
            background-position: -133px -91px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-saint-lucia {
            background-position: -5px -114px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-qatar {
            background-position: -37px -28px;
            width: 22px;
            height: 9px;
        }
        
        .flag-icon-poland {
            background-position: -5px -135px;
            width: 22px;
            height: 14px;
        }
        
        .flag-icon-philippines {
            background-position: -37px -114px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-paraguay {
            background-position: -37px -135px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-palau {
            background-position: -165px -5px;
            width: 22px;
            height: 14px;
        }
        
        .flag-icon-oman {
            background-position: -165px -29px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-north-korea {
            background-position: -165px -50px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-nigeria {
            background-position: -165px -71px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-nicaragua {
            background-position: -165px -92px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-new-zealand {
            background-position: -165px -115px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-nepal {
            background-position: -5px -158px;
            width: 22px;
            height: 14px;
        }
        
        .flag-icon-nauru {
            background-position: -165px -136px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-myanmar {
            background-position: -69px -135px;
            width: 22px;
            height: 12px;
        }
        
        .flag-icon-montenegro {
            background-position: -69px -114px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-mongolia {
            background-position: -101px -114px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-moldova {
            background-position: -133px -114px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-micronesia {
            background-position: -101px -135px;
            width: 22px;
            height: 12px;
        }
        
        .flag-icon-mexico {
            background-position: -37px -158px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-marshall-islands {
            background-position: -133px -135px;
            width: 22px;
            height: 12px;
        }
        
        .flag-icon-malaysia {
            background-position: -69px -158px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-macedonia {
            background-position: -197px -5px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-luxembourg {
            background-position: -197px -26px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-lithuania {
            background-position: -197px -49px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-liechtenstein {
            background-position: -197px -72px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-libya {
            background-position: -197px -95px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-liberia {
            background-position: -197px -116px;
            width: 22px;
            height: 12px;
        }
        
        .flag-icon-latvia {
            background-position: -197px -138px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-kyrgyzstan {
            background-position: -197px -159px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-kuwait {
            background-position: -5px -182px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-korea-north {
            background-position: -37px -182px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-kiribati {
            background-position: -69px -182px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-kazakhstan {
            background-position: -101px -182px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-jordan {
            background-position: -133px -182px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-jamaica {
            background-position: -165px -182px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-ireland {
            background-position: -197px -182px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-iran {
            background-position: -5px -203px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-honduras {
            background-position: -37px -203px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-haiti {
            background-position: -229px -5px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-guyana {
            background-position: -229px -28px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-guinea-bissau {
            background-position: -229px -51px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-guatemala {
            background-position: -229px -72px;
            width: 22px;
            height: 14px;
        }
        
        .flag-icon-grenada {
            background-position: -229px -96px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-germany {
            background-position: -229px -119px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-finland {
            background-position: -229px -142px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-fiji {
            background-position: -229px -165px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-ethiopia {
            background-position: -229px -186px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-estonia {
            background-position: -5px -225px;
            width: 22px;
            height: 14px;
        }
        
        .flag-icon-eritrea {
            background-position: -69px -203px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-england {
            background-position: -37px -225px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-el-salvador {
            background-position: -69px -225px;
            width: 22px;
            height: 12px;
        }
        
        .flag-icon-ecuador {
            background-position: -101px -203px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-dominican-republic {
            background-position: -261px -5px;
            width: 22px;
            height: 14px;
        }
        
        .flag-icon-dominica {
            background-position: -261px -29px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-cyprus {
            background-position: -261px -50px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-cuba {
            background-position: -261px -73px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-croatia {
            background-position: -261px -94px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-costa-rica {
            background-position: -261px -115px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-comoros {
            background-position: -261px -138px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-cape-verde {
            background-position: -261px -161px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-canada {
            background-position: -261px -183px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-burundi {
            background-position: -261px -204px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-bulgaria {
            background-position: -5px -249px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-brunei {
            background-position: -261px -227px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-brunei-darussalam {
            background-position: -133px -203px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-bosnia-and-herzegovina {
            background-position: -165px -203px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-belarus {
            background-position: -37px -249px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-bangladesh {
            background-position: -293px -5px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-bahrain {
            background-position: -293px -28px;
            width: 22px;
            height: 13px;
        }
        
        .flag-icon-bahamas {
            background-position: -293px -51px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-azerbaijan {
            background-position: -293px -72px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-australia {
            background-position: -293px -93px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-american-samoa {
            background-position: -293px -114px;
            width: 22px;
            height: 11px;
        }
        
        .flag-icon-zambia {
            background-position: -293px -135px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-yemen {
            background-position: -293px -159px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-vietnam {
            background-position: -293px -183px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-venezuela {
            background-position: -293px -207px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-uruguay {
            background-position: -293px -231px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-ukraine {
            background-position: -5px -272px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-uganda {
            background-position: -36px -272px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-turkmenistan {
            background-position: -67px -272px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-turkey {
            background-position: -98px -272px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-tunisia {
            background-position: -129px -272px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-thailand {
            background-position: -160px -272px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-tanzania {
            background-position: -191px -272px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-taiwan {
            background-position: -222px -272px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-syria {
            background-position: -253px -272px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-switzerland {
            background-position: -284px -272px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-swaziland {
            background-position: -5px -296px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-suriname {
            background-position: -36px -296px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-spain {
            background-position: -67px -296px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-south-korea {
            background-position: -98px -296px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-south-africa {
            background-position: -129px -296px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-somalia {
            background-position: -160px -296px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-slovakia {
            background-position: -191px -296px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-singapore {
            background-position: -222px -296px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-sierra-leone {
            background-position: -253px -296px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-serbia {
            background-position: -284px -296px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-senegal {
            background-position: -325px -5px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-saudi-arabia {
            background-position: -325px -29px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-saint-vincent-and-the-grenadines {
            background-position: -325px -53px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-saint-kitts-and-nevis {
            background-position: -325px -77px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-rwanda {
            background-position: -325px -101px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-russia {
            background-position: -325px -125px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-romania {
            background-position: -325px -149px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-republic-of-the-congo {
            background-position: -325px -173px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-puerto-rico {
            background-position: -325px -197px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-portugal {
            background-position: -325px -221px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-peru {
            background-position: -325px -245px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-panama {
            background-position: -325px -269px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-pakistan {
            background-position: -325px -293px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-netherlands {
            background-position: -5px -320px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-namibia {
            background-position: -36px -320px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-mozambique {
            background-position: -67px -320px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-morocco {
            background-position: -98px -320px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-mauritius {
            background-position: -129px -320px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-mauritania {
            background-position: -160px -320px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-malta {
            background-position: -191px -320px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-mali {
            background-position: -222px -320px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-maldives {
            background-position: -253px -320px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-malawi {
            background-position: -284px -320px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-madagascar {
            background-position: -315px -320px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-macau {
            background-position: -356px -5px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-lesotho {
            background-position: -356px -29px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-lebanon {
            background-position: -356px -53px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-laos {
            background-position: -356px -77px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-korea-south {
            background-position: -356px -101px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-kenya {
            background-position: -356px -125px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-japan {
            background-position: -356px -149px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-italy {
            background-position: -356px -173px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-iraq {
            background-position: -356px -197px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-indonesia {
            background-position: -356px -221px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-india {
            background-position: -356px -245px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-hungary {
            background-position: -356px -269px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-hong-kong {
            background-position: -356px -293px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-guinea {
            background-position: -356px -317px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-greece {
            background-position: -5px -344px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-ghana {
            background-position: -36px -344px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-georgia {
            background-position: -67px -344px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-gambia {
            background-position: -98px -344px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-france {
            background-position: -129px -344px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-european-union {
            background-position: -160px -344px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-equatorial-guinea {
            background-position: -191px -344px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-egypt {
            background-position: -222px -344px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-djibouti {
            background-position: -253px -344px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-czech-republic {
            background-position: -284px -344px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-cote-d-ivoire {
            background-position: -315px -344px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-congo-brazzaville {
            background-position: -346px -344px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-colombia {
            background-position: -387px -5px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-china {
            background-position: -387px -29px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-chile {
            background-position: -387px -53px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-chad {
            background-position: -387px -77px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-central-african-republic {
            background-position: -387px -101px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-cameroon {
            background-position: -387px -125px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-cambodia {
            background-position: -387px -149px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-burkina-faso {
            background-position: -387px -173px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-botswana {
            background-position: -387px -197px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-bhutan {
            background-position: -387px -221px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-benin {
            background-position: -387px -245px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-belize {
            background-position: -387px -269px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-belgium {
            background-position: -387px -293px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-armenia {
            background-position: -387px -317px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-argentina {
            background-position: -387px -341px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-antigua-and-barbuda {
            background-position: -5px -368px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-afghanistan {
            background-position: -36px -368px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-brazil {
            background-position: -67px -368px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-bolivia {
            background-position: -98px -368px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-barbados {
            background-position: -128px -368px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-austria {
            background-position: -159px -368px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-angola {
            background-position: -189px -368px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-andorra {
            background-position: -220px -368px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-algeria {
            background-position: -250px -368px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-albania {
            background-position: -281px -368px;
            width: 21px;
            height: 14px;
        }
        
        .flag-icon-republic-of-kosovo {
            background-position: -311px -368px;
            width: 20px;
            height: 14px;
        }
        
        .flag-icon-norway {
            background-position: -341px -368px;
            width: 20px;
            height: 14px;
        }
        
        .flag-icon-israel {
            background-position: -370px -368px;
            width: 20px;
            height: 14px;
        }
        
        .flag-icon-iceland {
            background-position: -5px -392px;
            width: 20px;
            height: 14px;
        }
        
        .flag-icon-san-marino {
            background-position: -35px -392px;
            width: 19px;
            height: 14px;
        }
        
        .flag-icon-monaco {
            background-position: -64px -392px;
            width: 19px;
            height: 14px;
        }
        
        .flag-icon-gabon {
            background-position: -93px -392px;
            width: 19px;
            height: 14px;
        }
        
        .flag-icon-faroe-islands {
            background-position: -122px -392px;
            width: 19px;
            height: 14px;
        }
        
        .flag-icon-democratic-republic-of-the-congo {
            background-position: -151px -392px;
            width: 19px;
            height: 14px;
        }
        
        .flag-icon-congo-kinshasa {
            background-position: -180px -392px;
            width: 19px;
            height: 14px;
        }
        
        .flag-icon-papua-new-guinea {
            background-position: -209px -392px;
            width: 19px;
            height: 14px;
        }
        
        .flag-icon-denmark {
            background-position: -237px -392px;
            width: 19px;
            height: 14px;
        }
        
        .flag-icon-niger {
            background-position: -266px -392px;
            width: 17px;
            height: 14px;
        }
        
        .flag-icon-vatican-city {
            background-position: -293px -392px;
            width: 14px;
            height: 14px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .flag-icon-zimbabwe,
    .flag-icon-wales,
    .flag-icon-vanuatu,
    .flag-icon-uzbekistan,
    .flag-icon-united-states,
    .flag-icon-united-states-of-america,
    .flag-icon-united-kingdom,
    .flag-icon-united-arab-emirates,
    .flag-icon-tuvalu,
    .flag-icon-trinidad-and-tobago,
    .flag-icon-tonga,
    .flag-icon-togo,
    .flag-icon-timor-leste,
    .flag-icon-tajikistan,
    .flag-icon-sweden,
    .flag-icon-sudan,
    .flag-icon-sri-lanka,
    .flag-icon-solomon-islands,
    .flag-icon-slovenia,
    .flag-icon-seychelles,
    .flag-icon-scotland,
    .flag-icon-sao-tome-and-principe,
    .flag-icon-samoa,
    .flag-icon-saint-lucia,
    .flag-icon-qatar,
    .flag-icon-poland,
    .flag-icon-philippines,
    .flag-icon-paraguay,
    .flag-icon-palau,
    .flag-icon-oman,
    .flag-icon-north-korea,
    .flag-icon-nigeria,
    .flag-icon-nicaragua,
    .flag-icon-new-zealand,
    .flag-icon-nepal,
    .flag-icon-nauru,
    .flag-icon-myanmar,
    .flag-icon-montenegro,
    .flag-icon-mongolia,
    .flag-icon-moldova,
    .flag-icon-micronesia,
    .flag-icon-mexico,
    .flag-icon-marshall-islands,
    .flag-icon-malaysia,
    .flag-icon-macedonia,
    .flag-icon-luxembourg,
    .flag-icon-lithuania,
    .flag-icon-liechtenstein,
    .flag-icon-libya,
    .flag-icon-liberia,
    .flag-icon-latvia,
    .flag-icon-kyrgyzstan,
    .flag-icon-kuwait,
    .flag-icon-korea-north,
    .flag-icon-kiribati,
    .flag-icon-kazakhstan,
    .flag-icon-jordan,
    .flag-icon-jamaica,
    .flag-icon-ireland,
    .flag-icon-iran,
    .flag-icon-honduras,
    .flag-icon-haiti,
    .flag-icon-guyana,
    .flag-icon-guinea-bissau,
    .flag-icon-guatemala,
    .flag-icon-grenada,
    .flag-icon-germany,
    .flag-icon-finland,
    .flag-icon-fiji,
    .flag-icon-ethiopia,
    .flag-icon-estonia,
    .flag-icon-eritrea,
    .flag-icon-england,
    .flag-icon-el-salvador,
    .flag-icon-ecuador,
    .flag-icon-dominican-republic,
    .flag-icon-dominica,
    .flag-icon-cyprus,
    .flag-icon-cuba,
    .flag-icon-croatia,
    .flag-icon-costa-rica,
    .flag-icon-comoros,
    .flag-icon-cape-verde,
    .flag-icon-canada,
    .flag-icon-burundi,
    .flag-icon-bulgaria,
    .flag-icon-brunei,
    .flag-icon-brunei-darussalam,
    .flag-icon-bosnia-and-herzegovina,
    .flag-icon-belarus,
    .flag-icon-bangladesh,
    .flag-icon-bahrain,
    .flag-icon-bahamas,
    .flag-icon-azerbaijan,
    .flag-icon-australia,
    .flag-icon-american-samoa,
    .flag-icon-zambia,
    .flag-icon-yemen,
    .flag-icon-vietnam,
    .flag-icon-venezuela,
    .flag-icon-uruguay,
    .flag-icon-ukraine,
    .flag-icon-uganda,
    .flag-icon-turkmenistan,
    .flag-icon-turkey,
    .flag-icon-tunisia,
    .flag-icon-thailand,
    .flag-icon-tanzania,
    .flag-icon-taiwan,
    .flag-icon-syria,
    .flag-icon-switzerland,
    .flag-icon-swaziland,
    .flag-icon-suriname,
    .flag-icon-spain,
    .flag-icon-south-korea,
    .flag-icon-south-africa,
    .flag-icon-somalia,
    .flag-icon-slovakia,
    .flag-icon-singapore,
    .flag-icon-sierra-leone,
    .flag-icon-serbia,
    .flag-icon-senegal,
    .flag-icon-saudi-arabia,
    .flag-icon-saint-vincent-and-the-grenadines,
    .flag-icon-saint-kitts-and-nevis,
    .flag-icon-rwanda,
    .flag-icon-russia,
    .flag-icon-romania,
    .flag-icon-republic-of-the-congo,
    .flag-icon-puerto-rico,
    .flag-icon-portugal,
    .flag-icon-peru,
    .flag-icon-panama,
    .flag-icon-pakistan,
    .flag-icon-netherlands,
    .flag-icon-namibia,
    .flag-icon-mozambique,
    .flag-icon-morocco,
    .flag-icon-mauritius,
    .flag-icon-mauritania,
    .flag-icon-malta,
    .flag-icon-mali,
    .flag-icon-maldives,
    .flag-icon-malawi,
    .flag-icon-madagascar,
    .flag-icon-macau,
    .flag-icon-lesotho,
    .flag-icon-lebanon,
    .flag-icon-laos,
    .flag-icon-korea-south,
    .flag-icon-kenya,
    .flag-icon-japan,
    .flag-icon-italy,
    .flag-icon-iraq,
    .flag-icon-indonesia,
    .flag-icon-india,
    .flag-icon-hungary,
    .flag-icon-hong-kong,
    .flag-icon-guinea,
    .flag-icon-greece,
    .flag-icon-ghana,
    .flag-icon-georgia,
    .flag-icon-gambia,
    .flag-icon-france,
    .flag-icon-european-union,
    .flag-icon-equatorial-guinea,
    .flag-icon-egypt,
    .flag-icon-djibouti,
    .flag-icon-czech-republic,
    .flag-icon-cote-d-ivoire,
    .flag-icon-congo-brazzaville,
    .flag-icon-colombia,
    .flag-icon-china,
    .flag-icon-chile,
    .flag-icon-chad,
    .flag-icon-central-african-republic,
    .flag-icon-cameroon,
    .flag-icon-cambodia,
    .flag-icon-burkina-faso,
    .flag-icon-botswana,
    .flag-icon-bhutan,
    .flag-icon-benin,
    .flag-icon-belize,
    .flag-icon-belgium,
    .flag-icon-armenia,
    .flag-icon-argentina,
    .flag-icon-antigua-and-barbuda,
    .flag-icon-afghanistan,
    .flag-icon-brazil,
    .flag-icon-bolivia,
    .flag-icon-barbados,
    .flag-icon-austria,
    .flag-icon-angola,
    .flag-icon-andorra,
    .flag-icon-algeria,
    .flag-icon-albania,
    .flag-icon-republic-of-kosovo,
    .flag-icon-norway,
    .flag-icon-israel,
    .flag-icon-iceland,
    .flag-icon-san-marino,
    .flag-icon-monaco,
    .flag-icon-gabon,
    .flag-icon-faroe-islands,
    .flag-icon-democratic-republic-of-the-congo,
    .flag-icon-congo-kinshasa,
    .flag-icon-papua-new-guinea,
    .flag-icon-denmark,
    .flag-icon-niger,
    .flag-icon-vatican-city {
                background-image: url('flag-icon.png');
                -webkit-background-size: 413px 411px;
                -moz-background-size: 413px 411px;
                background-size: 413px 411px;
            }
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 2.0), screen and (min--moz-device-pixel-ratio: 2.0), screen and (-o-min-device-pixel-ratio: 200/100), screen and (min-device-pixel-ratio: 2.0), screen and (min-resolution: 2.0dppx) {
            .flag-icon-zimbabwe,
    .flag-icon-wales,
    .flag-icon-vanuatu,
    .flag-icon-uzbekistan,
    .flag-icon-united-states,
    .flag-icon-united-states-of-america,
    .flag-icon-united-kingdom,
    .flag-icon-united-arab-emirates,
    .flag-icon-tuvalu,
    .flag-icon-trinidad-and-tobago,
    .flag-icon-tonga,
    .flag-icon-togo,
    .flag-icon-timor-leste,
    .flag-icon-tajikistan,
    .flag-icon-sweden,
    .flag-icon-sudan,
    .flag-icon-sri-lanka,
    .flag-icon-solomon-islands,
    .flag-icon-slovenia,
    .flag-icon-seychelles,
    .flag-icon-scotland,
    .flag-icon-sao-tome-and-principe,
    .flag-icon-samoa,
    .flag-icon-saint-lucia,
    .flag-icon-qatar,
    .flag-icon-poland,
    .flag-icon-philippines,
    .flag-icon-paraguay,
    .flag-icon-palau,
    .flag-icon-oman,
    .flag-icon-north-korea,
    .flag-icon-nigeria,
    .flag-icon-nicaragua,
    .flag-icon-new-zealand,
    .flag-icon-nepal,
    .flag-icon-nauru,
    .flag-icon-myanmar,
    .flag-icon-montenegro,
    .flag-icon-mongolia,
    .flag-icon-moldova,
    .flag-icon-micronesia,
    .flag-icon-mexico,
    .flag-icon-marshall-islands,
    .flag-icon-malaysia,
    .flag-icon-macedonia,
    .flag-icon-luxembourg,
    .flag-icon-lithuania,
    .flag-icon-liechtenstein,
    .flag-icon-libya,
    .flag-icon-liberia,
    .flag-icon-latvia,
    .flag-icon-kyrgyzstan,
    .flag-icon-kuwait,
    .flag-icon-korea-north,
    .flag-icon-kiribati,
    .flag-icon-kazakhstan,
    .flag-icon-jordan,
    .flag-icon-jamaica,
    .flag-icon-ireland,
    .flag-icon-iran,
    .flag-icon-honduras,
    .flag-icon-haiti,
    .flag-icon-guyana,
    .flag-icon-guinea-bissau,
    .flag-icon-guatemala,
    .flag-icon-grenada,
    .flag-icon-germany,
    .flag-icon-finland,
    .flag-icon-fiji,
    .flag-icon-ethiopia,
    .flag-icon-estonia,
    .flag-icon-eritrea,
    .flag-icon-england,
    .flag-icon-el-salvador,
    .flag-icon-ecuador,
    .flag-icon-dominican-republic,
    .flag-icon-dominica,
    .flag-icon-cyprus,
    .flag-icon-cuba,
    .flag-icon-croatia,
    .flag-icon-costa-rica,
    .flag-icon-comoros,
    .flag-icon-cape-verde,
    .flag-icon-canada,
    .flag-icon-burundi,
    .flag-icon-bulgaria,
    .flag-icon-brunei,
    .flag-icon-brunei-darussalam,
    .flag-icon-bosnia-and-herzegovina,
    .flag-icon-belarus,
    .flag-icon-bangladesh,
    .flag-icon-bahrain,
    .flag-icon-bahamas,
    .flag-icon-azerbaijan,
    .flag-icon-australia,
    .flag-icon-american-samoa,
    .flag-icon-zambia,
    .flag-icon-yemen,
    .flag-icon-vietnam,
    .flag-icon-venezuela,
    .flag-icon-uruguay,
    .flag-icon-ukraine,
    .flag-icon-uganda,
    .flag-icon-turkmenistan,
    .flag-icon-turkey,
    .flag-icon-tunisia,
    .flag-icon-thailand,
    .flag-icon-tanzania,
    .flag-icon-taiwan,
    .flag-icon-syria,
    .flag-icon-switzerland,
    .flag-icon-swaziland,
    .flag-icon-suriname,
    .flag-icon-spain,
    .flag-icon-south-korea,
    .flag-icon-south-africa,
    .flag-icon-somalia,
    .flag-icon-slovakia,
    .flag-icon-singapore,
    .flag-icon-sierra-leone,
    .flag-icon-serbia,
    .flag-icon-senegal,
    .flag-icon-saudi-arabia,
    .flag-icon-saint-vincent-and-the-grenadines,
    .flag-icon-saint-kitts-and-nevis,
    .flag-icon-rwanda,
    .flag-icon-russia,
    .flag-icon-romania,
    .flag-icon-republic-of-the-congo,
    .flag-icon-puerto-rico,
    .flag-icon-portugal,
    .flag-icon-peru,
    .flag-icon-panama,
    .flag-icon-pakistan,
    .flag-icon-netherlands,
    .flag-icon-namibia,
    .flag-icon-mozambique,
    .flag-icon-morocco,
    .flag-icon-mauritius,
    .flag-icon-mauritania,
    .flag-icon-malta,
    .flag-icon-mali,
    .flag-icon-maldives,
    .flag-icon-malawi,
    .flag-icon-madagascar,
    .flag-icon-macau,
    .flag-icon-lesotho,
    .flag-icon-lebanon,
    .flag-icon-laos,
    .flag-icon-korea-south,
    .flag-icon-kenya,
    .flag-icon-japan,
    .flag-icon-italy,
    .flag-icon-iraq,
    .flag-icon-indonesia,
    .flag-icon-india,
    .flag-icon-hungary,
    .flag-icon-hong-kong,
    .flag-icon-guinea,
    .flag-icon-greece,
    .flag-icon-ghana,
    .flag-icon-georgia,
    .flag-icon-gambia,
    .flag-icon-france,
    .flag-icon-european-union,
    .flag-icon-equatorial-guinea,
    .flag-icon-egypt,
    .flag-icon-djibouti,
    .flag-icon-czech-republic,
    .flag-icon-cote-d-ivoire,
    .flag-icon-congo-brazzaville,
    .flag-icon-colombia,
    .flag-icon-china,
    .flag-icon-chile,
    .flag-icon-chad,
    .flag-icon-central-african-republic,
    .flag-icon-cameroon,
    .flag-icon-cambodia,
    .flag-icon-burkina-faso,
    .flag-icon-botswana,
    .flag-icon-bhutan,
    .flag-icon-benin,
    .flag-icon-belize,
    .flag-icon-belgium,
    .flag-icon-armenia,
    .flag-icon-argentina,
    .flag-icon-antigua-and-barbuda,
    .flag-icon-afghanistan,
    .flag-icon-brazil,
    .flag-icon-bolivia,
    .flag-icon-barbados,
    .flag-icon-austria,
    .flag-icon-angola,
    .flag-icon-andorra,
    .flag-icon-algeria,
    .flag-icon-albania,
    .flag-icon-republic-of-kosovo,
    .flag-icon-norway,
    .flag-icon-israel,
    .flag-icon-iceland,
    .flag-icon-san-marino,
    .flag-icon-monaco,
    .flag-icon-gabon,
    .flag-icon-faroe-islands,
    .flag-icon-democratic-republic-of-the-congo,
    .flag-icon-congo-kinshasa,
    .flag-icon-papua-new-guinea,
    .flag-icon-denmark,
    .flag-icon-niger,
    .flag-icon-vatican-city {
                background-image: url('flag-icon@2x.png');
                -webkit-background-size: 413px 411px;
                -moz-background-size: 413px 411px;
                background-size: 413px 411px;
            }
        }
        